@import "header.css";
@import "footer.css";

.main-page {
  max-width: 100%;
  height: 100vh;
  background: url("../img/main-bg.png") center center no-repeat;
  background-size: cover;
}

.main-content {
  position: relative;
  top: 40%;
  /* display: flex;
   flex-direction: column;
   align-items: center; */
}
.button-left {
  background: url("../img/button-left-img.png") center center no-repeat;
  background-size: cover;
  width: 34px;
  height: 34px;
  border: none;
  cursor: pointer;
}
.button-left:active {
  border: none;
  outline: none;
}
.button-left:focus {
  outline: none;
}
.button-right {
  background: url("../img/button-right-img.png") center center no-repeat;
  background-size: cover;
  width: 34px;
  height: 34px;
  border: none;
  cursor: pointer;
}
.button-right:active {
  border: none;
  outline: none;
}
.button-right:focus {
  outline: none;
}

.main-content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-small {
  color: #ffffff;
  font-family: Crimson-Roman;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 50px;
}
.title-big {
  padding: 35px 15px;
  background: url("../img/Line2.png") center center no-repeat;
  background-size: cover;
  margin: 0 10px;
}
.title-big-head {
  color: #ffffff;
  font-family: Amsdam;
  font-size: 36px;
  font-size: calc(18px + 18 * (100vw / 1190));
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 400;
}

.button-start {
  text-align: center;
  position: relative;
}
.button-get-start {
  width: 153px;
  height: 44px;
  background-color: inherit;
  border: 2px solid #f2f2f2;
  margin-top: 45px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 15px;
  cursor: pointer;
}
.button-get-start:active {
  border: none;
  outline: none;
}
.button-get-start:focus {
  outline: none;
}
.button-start::after {
  content: "";
  background: url("../img/Arrow.png") center center no-repeat;
  background-image: url("../img/Arrow.png");
  /* object-fit: cover; */
  width: 15px;
  height: 50px;
  position: absolute;
  top: 90%;
  right: 49.5%;
  /* cursor: pointer; */
}
.about-us {
  background-color: #e3e3e3;
  padding-top: 70px;
  height: auto;
}
.about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us-img {
  max-width: 100%;
  /* max-height: 325px; */
  height: cover;
  object-fit: auto;
}
.about-us-img img {
  max-width: 100%;
}
.about-container {
  flex-direction: column;
}
.about-us-content {
  background-color: #fff;
  padding-bottom: 50px;
}
/* .about-us-title{
    width: 186px;
    height: 54px;
} */
.about-us-line {
  width: 186px;
  height: 5px;
  background: url("../img/Line.png") center center no-repeat;
  background-size: auto;
}
.title {
  text-align: center;
  color: #3e3d3d;
  font-family: Amsdam;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.about-us-title {
  margin-top: 60px;
  margin-bottom: 40px;
}
.about-us-text {
  padding: 0 70px;
  margin-bottom: 45px;
}
.about-us-text > .text {
  color: #3e3d3d;
  font-family: "Crimson Text - Roman";
  font-size: 14px;
  /* font-size: calc(8px + 4 * (90vw / 1190)); */
  line-height: 25px;
  text-align: left;
  font-style: normal;
  letter-spacing: 1.4px;
  /* line-height: normal; */
}
.Contact-us {
  padding: 15px 28px;
  color: #cecece;
  font-family: Montserrat;
  font-size: 13px;
  background-color: #3e3d3d;
  letter-spacing: normal;
  font-weight: bold;
  text-align: left;
  border: none;
  cursor: pointer;
}
.Contact-us:active {
  outline: none;
  border: none;
}
.Contact-us:hover {
  outline: none;
  border: none;
}
.Portfolio {
  padding: 13px 28px;
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid #3e3d3d;
  cursor: pointer;
}
/* .Portfolio:active{
    outline: none;
    border: 2px solid #3e3d3d;
} */

.about-us-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 75px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-title {
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}
.icon-card {
  color: #3e3d3d;
  margin-bottom: 25px;
}
.icon-num {
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 45px;
  font-weight: bold;
}
.services {
  background: url("../img/services-bg.png") center center no-repeat;
  background-size: cover;
}
.services-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 10px;
}
.services-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-title-head {
  color: #ffffff;
  font-family: Amsdam;
  font-size: 20px;
  letter-spacing: normal;
  text-transform: uppercase;
}
.services-title-line {
  background: url("../img/services-line.png");
  width: 186px;
  height: 5px;
  color: #ffffff;
  background-size: auto;
  margin-bottom: 40px;
  margin-top: 25px;
}
.services-text {
  margin: 0 70px 75px 70px;
  /* max-width: 1026; */
}

.srvices-text-p {
  color: #cfcfcf;
  font-family: Crimson-Roman;
  font-size: 14px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.4px;
}
.services-cards {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  /* margin: 0 auto; */
  justify-content: center;
}
.services-card {
  background: url("../img/card-border.png") center center no-repeat;
  /* border-image: url('../img/card-border.png') center center no-repeat; */
  width: 270px;
  height: 377px;
  padding: 55px 33px 43px 33px;
  position: relative;
  margin-right: 30px;
  margin-bottom: 20px;
  /* margin-bottom: 30px; */
}

.services-card:last-child {
  margin-right: 0;
}
.serives-card-title {
  width: 69px;
  height: 29px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.card-span {
  color: #d8d8d8;
  font-family: Montserrat;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}
.card-p {
  color: #d8d8d8;
  font-family: Crimson-Roman;
  font-size: 14px;
  font-weight: 400;

  line-height: 20.31px;
  text-align: center;
  /* Text style for "L, orem ip" */
}
.card-icon {
  content: "";
  width: 26px;
  height: 25px;
  position: absolute;
  top: -3%;
  left: 45%;
}

.icon-idea {
  background: url("../img/card-img-idea.png") center center no-repeat;
  background-size: cover;
}
.icon-monitor {
  background: url("../img/card-icon-monitor.png") center center no-repeat;
  background-size: cover;
}
.icon-chart {
  background: url("../img/card-icon-chart.png") center center no-repeat;
  background-size: cover;
}
.icon-word {
  background: url("../img/card-icon-word.png") center center no-repeat;
  background-size: cover;
}
.history {
  background-color: #ededed;
  overflow: hidden;
  padding-bottom: 80px;
}
.general-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 10px;
}
.general-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.general-title-head {
  font-family: Amsdam;
  font-size: 20px;
  letter-spacing: normal;
  text-transform: uppercase;
}
.general-title-line {
  width: 186px;
  height: 5px;
  background-size: auto;
  margin-bottom: 40px;
  margin-top: 25px;
}
.general-text {
  margin: 0 80px 40px 80px;
  max-width: 1010px;
}

.general-text-p {
  font-family: Crimson-Roman;
  font-size: 14px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.4px;
}
.history-title-head {
  color: #3e3d3d;
}
.history-title-line {
  background: url("../img/history-title-line.png");
}
.history-text {
  margin: 0 80px 40px 80px;
  max-width: 1010px;
}

.history-text-p {
  color: #3e3d3d;
}
.history-content {
  position: relative;
  /* height: 80vh; */
}
.history-content::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #3e3d3d;
  top: 3.5%;
  left: 49.99%;
  z-index: 0;
}
/* .vertical-line {
  background: url("../img/vertical-line.png") center center no-repeat;
  background-size: auto;
  position: absolute;
  top: 56px;
  left: 50%;
  min-height: 1050px;
  width: 1px;
} */
.year {
  border: 1px solid #000;
  border-radius: 50%;
  padding: 25px 15px;
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 13px;
  text-align: center;
  position: absolute;
  width: 73px;
  height: 73px;
  right: 50%;
  transform: translate(50%, -5%);
  background-color: #ededed;
  z-index: 999;
}
.year-2 {
  border: 1px solid #000;
  border-radius: 50%;
  padding: 25px 15px;
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 13px;
  text-align: center;
  position: absolute;
  width: 73px;
  height: 73px;
  right: 50%;
  transform: translate(50%, 20%);
  background-color: #ededed;
  z-index: 999;
}
.history-cards {
  display: flex;
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  position: relative;
}

.card-list .list-item {
  list-style: none;
  max-width: 570px;
  width: 49%;
  height: fit-content;
  border: 15px solid transparent;
  margin-bottom: 30px;
}

.card-list .list-item:nth-child(odd) {
  padding: 15px 55px 15px 10px;
}
.card-list .list-item:nth-child(even) {
  padding: 15px 10px 15px 55px;
}
.card-list .list-item::before {
  content: "";
  width: 17px;
  height: 17px;
  background-color: #3e3d3d;
  position: absolute;
  border-radius: 50%;
  z-index: 999;
}
.card-list .list-item:nth-child(odd)::before {
  transform: translate(50%, -170%);
  right: 50%;
}
.card-list .list-item:nth-child(even)::before {
  transform: translate(50%, -170%);
  right: 50%;
}

.history-card-title {
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 13px;
  text-align: left;
  text-transform: uppercase;
}
.history-card-date {
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 18px;
  text-align: center;
}
.history-card-text {
  color: #3e3d3d;
  font-family: "Crimson Text - Roman";
  font-size: 14px;
  letter-spacing: normal;
  line-height: 20.31px;
  text-align: left;
  margin-top: 25px;
}
.list-item-active {
  background: url("../img/history-bg.png") center center no-repeat;
  background-size: auto;
}
.list-item-black {
  background-color: #3e3d3d;
}

.card-list .list-item:nth-child(odd) {
  border-image: url("../img/card-list-border-svg.svg") 30 round;
}
.card-list .list-item:nth-child(even) {
  border-image: url("../img/card-border-right.png") 30 round;
  margin-top: 40px;
}
.light {
  width: 54px;
  height: 54px;
  border: 2px solid #3e3d3d;
  background-color: #3e3d3d;
  border-radius: 50%;
  padding: 13px 13px;
  position: absolute;
  right: 50%;
  transform: translate(50%, 65%);
  z-index: 999;
}

.team {
  background: url("../img/team-bg.png") center center no-repeat;
  background-size: cover;
}
.team-title-head {
  color: #3e3d3d;
}
.team-title-line {
  background: url("../img/Line.png") center center no-repeat;
}
.team-text {
  max-width: 998px;
  margin: 0 90px 55px 90px;
}

.team-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  /* min-width: 998px; */
  width: 100%;
}
.card {
  position: relative;
  margin: 10px 5px;
}
.hover {
  background: url("../img/team-card-bg.png") center center no-repeat;
  background-size: cover;
  width: 90%;
  height: 90%;
  top: 5%;
  position: absolute;
  display: none;
  transition: 0.3s;
}
.card:hover .hover {
  display: block;
}

.portfolio-text {
  max-width: 998px;
  margin: 0 90px 55px 90px;
}

.portfolio-title-line {
  background: url("../img/Line.png") center center no-repeat;
}
.portfolio-title-head {
  color: #3e3d3d;
}
.portfolio-text-p {
  color: #3e3d3d;
}
.portfolio-button {
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 11px;
  text-align: left;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid #3e3d3d;
  background-color: inherit;
  font-weight: bold;
}

.portfolio-btn-active {
  border: 2px solid #3e3d3d;
  background-color: #3e3d3d;
  color: #ffffff;
}

.portfolio-img {
  background-color: #000000;
}
.grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  /* grid-template-rows: 1fr 1fr; */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 4vw);
  /* grid-template-areas: 'header header' 'sidebar content' 'block-1 block-2' 'footer footer'; */
  /* grid-template-rows: 1fr 1fr; */
}
.grid-img {
  /* position: relative; */
}
.grid-img img {
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-img-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 8;
}
.grid-img-2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 13;
}
.grid-img-3 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 6;
}
.grid-img-4 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 13;
}
.grid-img-5 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 5;
}
.grid-img-6 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 13;
}
.grid-img-7 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 8;
}
.grid-img-8 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 8;
  grid-row-end: 13;
}
.prices {
  background-color: #e3e3e3;
}
.prices-title-head {
  color: #3e3d3d;
}
.prices-title-line {
  background: url("../img/Line.png");
}
.prices-text {
  max-width: 998px;
  margin: 0 90px 80px 90px;
}
.prices-text-p {
  color: #3e3d3d;
}
.price-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.price-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0 55px 0;
  width: 370px;
  height: auto;
  background-color: #fff;
  margin-bottom: 20px;
}
.price-card:not(:last-child) {
  margin-right: 30px;
}
.price-card-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.price-card-title {
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 13px;
}
.price-card-icon {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 30px;
}
.price-card-value {
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 70px;
  font-weight: bold;
  position: relative;
}
.price-card-value sup {
  font-size: 28px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-130%);
}
.price-card-text {
  color: #3e3d3d;
  font-family: "Crimson Text";
  font-size: 16px;
  font-style: italic;
  margin-bottom: 20px;
}
.price-card-button {
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 13px;
  background-color: #ffffff;
  border: 2px solid #000000;
  padding: 13px 35px;
  cursor: pointer;
}

.pirices-footer {
  background-color: #2d2d2f;
  padding: 35px 0;
}

.prices-footer-content {
  width: 615px;
  margin: 0 10px;
}
.prices-footer-content h5 {
  color: #d8d8d8;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 18px;

  margin-bottom: 10px;
}
.prices-footer-content p {
  color: #888888;
  font-family: "Crimson Text";
  font-size: 16px;
  font-style: italic;
  letter-spacing: normal;
  line-height: 20px;
}
.prices-footer-btn {
  color: #e3e3e3;
  font-family: Montserrat;
  font-size: 13px;
  padding: 14px 33px;
  background-color: inherit;
  border: 1px solid #e3e3e3;
  cursor: pointer;
}
.blog {
  background-color: #e3e3e3;
}
.blog-title-head {
  color: #3e3d3d;
}
.blog-title-line {
  background: url("../img/Line.png");
}
.blog-text {
  max-width: 998px;
  margin: 0 90px 80px 90px;
}
.blog-text-p {
  color: #3e3d3d;
}
.blog-content {
  display: flex;
}
.blog-card {
  background-color: #2d2d2f;
  flex: 100%;
}

.blog-card:nth-child(1) {
  background-color: #424244;
}
.blog-card:last-child {
  background-color: #555557;
}
.blog-card-content {
  padding: 55px 40px 70px 30px;
  height: 50%;
  overflow: hidden;
}

.blog-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.blog-card-date {
  color: #e3e3e3;
  font-family: Crimson-Roman;
  font-size: 12px;
  font-style: italic;
  position: relative;
}
.blog-card-date::after {
  content: "";
  background-color: #e3e3e3;
  width: 130%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -5px;
}
.blog-card-title {
  color: #e3e3e3;
  font-family: Montserrat;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 35px;
  position: relative;
  margin-left: 10px;
}
.blog-card-title::after {
  content: "";
  background: url("../img/blog-title-img.png") center center no-repeat;
  background-size: cover;
  position: absolute;
  width: 4px;
  height: 7px;
  top: 5px;
  left: -10px;
}
.blog-card-text {
  color: #949494;
  font-family: Crimson-Roman;
  font-size: 14px;
  line-height: 20.31px;
  text-align: left;
  letter-spacing: 1.4px;
}

.clients {
  background-color: #fff;
}
.clients-title-head {
  color: #3e3d3d;
}
.clients-title-line {
  background: url("../img/Line.png");
}
.clients-text {
  max-width: 998px;
  margin: 0 90px 80px 90px;
}
.clients-text-p {
  color: #3e3d3d;
}
.clients-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.clients-icons img {
  margin: 10px 5px;
}
.clients-say {
  background: url("../img/clients-say-bg.png") center center no-repeat;
  background-size: cover;
}
.clients-text {
  max-width: 990px;
  margin: 56px 90px 68px 90px;
}
.clients-say-p {
  color: #efefef;
  font-family: "Crimson Text";
  font-size: 20px;
  font-style: italic;
  position: relative;
}
.down {
  position: absolute;
  bottom: -20px;
}
.clients-name {
  color: #e3e3e3;
  font-family: Montserrat;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
}
.clients-company {
  margin-top: 18px;
  margin-bottom: 44px;
  color: #efefef;
  font-family: "Crimson Text";
  font-size: 14px;
  font-style: italic;
}
.dots {
  display: flex;
}
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e3e3e3;
}
.dot:not(:last-child) {
  margin-right: 2px;
}

@media (max-width: 1190px) {
  .services-card {
    margin: 10px 15px;
  }
  .services-card:last-child {
    margin-right: 15px;
  }
  .price-card {
    margin: 10px 15px;
  }
  .price-card:not(:last-child) {
    margin-right: 15px;
  }
  .blog-content {
    flex-direction: column;
  }
  .blog-card {
    width: 95%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
  }
  .blog-card:nth-child(even) {
    flex-direction: column-reverse;
  }
  .blog-img {
    max-height: 400px;
  }
}

@media (max-width: 976px) {
  .grid {
    grid-template-columns: repeat(12, 1fr) !important ;
    grid-template-rows: repeat(12, 8vw) !important ;
  }
  .grid-img-1 {
    grid-column-start: 1 !important ;
    grid-column-end: 7 !important ;
    grid-row-start: 1 !important ;
    grid-row-end: 5 !important ;
  }
  .grid-img-2 {
    grid-column-start: 1 !important ;
    grid-column-end: 7 !important ;
    grid-row-start: 5 !important ;
    grid-row-end: 7 !important ;
  }
  .grid-img-3 {
    grid-column-start: 7 !important ;
    grid-column-end: 13 !important ;
    grid-row-start: 1 !important ;
    grid-row-end: 3 !important ;
  }
  .grid-img-4 {
    grid-column-start: 7 !important ;
    grid-column-end: 13 !important ;
    grid-row-start: 3 !important ;
    grid-row-end: 7 !important ;
  }
  .grid-img-5 {
    grid-column-start: 1 !important ;
    grid-column-end: 6 !important ;
    grid-row-start: 7 !important ;
    grid-row-end: 9 !important ;
  }
  .grid-img-6 {
    grid-column-start: 1 !important ;
    grid-column-end: 6 !important ;
    grid-row-start: 9 !important ;
    grid-row-end: 13 !important ;
  }
  .grid-img-7 {
    grid-column-start: 6 !important ;
    grid-column-end: 13 !important ;
    grid-row-start: 7 !important ;
    grid-row-end: 10 !important ;
  }
  .grid-img-8 {
    grid-column-start: 6 !important ;
    grid-column-end: 13 !important ;
    grid-row-start: 10 !important ;
    grid-row-end: 13 !important ;
  }
}
@media (max-width: 768px) {
  .about-us {
    padding-top: 10px;
  }
  .about-us-title {
    margin: 10px 0;
  }
  .about-us-title .title {
    margin-bottom: 5px;
  }
  .about-us-text {
    margin-bottom: 15px;
    padding: 0 30px;
  }
  .about-us-cards {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .services-container {
    padding: 30px 10px;
  }
  .card-list .list-item {
    margin-bottom: 15px;
  }
  .services-title-line {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .services-text {
    margin: 0 40px 30px 40px;
  }

  .general-container {
    padding: 40px 10px;
  }
  .general-title-line {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .history-text {
    margin-bottom: 15px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .team-text {
    margin-bottom: 15px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .portfolio-text {
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .prices-text {
    margin-bottom: 15px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .price-footer-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .prices-footer-content {
    margin: 10px 5px;
    text-align: center;
  }
  .blog-text {
    margin-bottom: 0;
    margin-right: 30px;
    margin-left: 30px;
  }

  .blog-card-content {
    padding: 30px 20px 35px 15px;
  }
  .blog-card-title {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .blog-img {
    max-height: 250px;
  }

  .clients-text {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .card-list .list-item:nth-child(odd) {
    padding: 15px 20px 15px 10px;
  }
  .card-list .list-item:nth-child(even) {
    padding: 15px 10px 15px 20px;
  }
  .card-list .list-item:nth-child(even) {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .main-page {
    position: relative;
  }
  .button-left {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(50%, 0);
  }
  .button-right {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-50%, 0);
  }
  .main-content-text {
    flex: 1 1 auto;
  }
  .about-us-cards {
    flex-wrap: wrap;
  }
  .about-us-cards .card {
    margin: 5px 15px;
  }
}
@media (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
  .card-list .list-item:nth-child(even) {
    border-image: url("../img/card-list-border-svg.svg") 30 round;
    margin-top: 40px;
  }
  .card-list .list-item {
    width: 87%;
  }
  .year,
  .year-2,
  .light {
    right: 10%;
  }
  .card-list .list-item::before {
    left: 86%;
  }
  .history-content::after {
    top: 1%;
    left: 90%;
  }
  .price-card {
    width: 90%;
  }
  .title-big {
    padding: 20px 10px;
    width: 80%;
    text-align: center;
  }
  .services-card {
    width: 95%;
  }
  .portfolio-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .portfolio-button {
    margin-bottom: 5px;
    margin-right: 5px;
  }
}
@media (max-width: 375px) {
  .card-list .list-item::before {
    left: 85%;
  }
}
